{% extends "account/base.html" %}
{% block head_title %}Home{% endblock %}

{% block content %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body class="container">
    <form class="p-5 bg-secondary w-100 rounded" style="--bs-bg-opacity: .3">
        {% csrf_token %}
        
        {% if user.is_authenticated %}
        <div class="container d-flex justify-content-center align-items-center">
            <h1>Projekty użytkownika</h1>
        </div>
        <div class="container d-flex justify-content-center align-items-center">
            <a type="button" class="btn btn-primary mt-3" href="{% url 'create_project' %}">Stwórz nowy projekt</a>
        </div>
        <div class="container mt-5">
            <section>
                <div class="row d-flex justify-content-center gap-3">
                    {% for project in projects %}
                    <a type="button" class="flex-grow-1 border border-primary text-decoration-none rounded" href="{% url 'view_project' project.id %}" style="background-color: #bde5f5; max-width: 30%;">
                        <p class="text-truncate text-dark fs-4 fw-bold">
                            {{ project.project_name }}
                        </p>
                        <p class="text-dark">
                            Klient: {{ project.client_id }}
                        </p>
                        <p class="text-truncate text-dark">
                            Opis Projektu:  {{ project.description }}
                        </p>
                    </a>
                    {% endfor %}
                </div>
            </section>
        </div>

        {% else %}

        <div class="container h-auto w-auto d-inline-flex flex-column justify-content-center align-items-center rounded bg-secondary p-5" style="--bs-bg-opacity: .3">
            <p>Jesteś obecnie wylogowany</p>
            <br>
            <p> Aby się zalogować naciśnij przycisk poniżej</p>
            <a type="button" class="btn btn-primary w-100 mb-3" href="{% url 'account_login' %}">Zaloguj się</a>
            <br>
            <p>Aby stworzyć konto naciśnij przycisk poniżej</p>
            <a type="button" class="btn btn-primary w-100" href="{% url 'account_signup' %}">Zarejestruj się</a>
        </div>
        {% endif %}
    </form>
</body>
</html>
{% endblock %}