{% extends "account/base.html" %}
{% block head_title %}Projekt: {{ project.project_name }}{% endblock %}

{% block content %}
<html>

<head>
</head>

<body class="container w-100">
    <form class="main-form">
        <div class="container h-auto w-100 d-inline-flex flex-column rounded bg-secondary p-5" style="--bs-bg-opacity: .3;">
            <h1 class="fs-1 mb-4">Projekt id: {{ project.id }}</h1>
            <div class="mb-3">
                <label for="project-name">Nazwa projektu</label>
                <output class="form-control" name="project-name" id="project-name">{{ project.project_name }}</output>
            </div>
            <div class="mb-3">
                <label for="project-client">Klient</label>
                <output class="form-control" name="project-client" id="project-client">{{ project.client_id }}</output>
            </div>
            <div class="mb-3">
                <label>Opis projektu</label>
                <output class="form-control" style="height: fit-content; overflow-wrap: break-word;">{{ project.description }}</output>
            </div>
            <div>
                {% for task in tasks %}
                    <div class="mb-3">
                        <p>Task</p>
                        <output class="form-control">Task name: {{ task.task_name }}</output>
                        <output class="form-control" style="height: fit-content; overflow-wrap: break-word;">Description: {{ task.description }}</output>
                        <output class="form-control">Creation date: {{ task.creation_date }}</output>
                        <output class="form-control">Project: {{ task.project_id }}</output>
                    </div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center gap-2 mt-4">
                <a class="btn btn-primary mb-3" href="{% url 'home' %}">Powrót</a>
                <a class="btn btn-primary mb-3" href="{% url 'edit_project' project.id %}">Edytuj</a>
            </div>
        </div>
    </form>
</body>

</html>
{% endblock %}