{% extends "account/base.html" %}

{% block head_title %}Projekt: {{ project.project_name }}{% endblock %}
{% load static %}

{% block extra_head %}
<script type="text/javascript">var csrfToken = "{{ csrf_token }}"; var taskstatus = "{{ task.status }}" </script>
<script src="{% static 'view-project.js' %}"></script>
{% endblock %}

{% block content %}
<div class="sidebar" style="left:240px; width: 300px; padding-top: 4%; background-color: rgb(133, 133, 133);" style="--bs-bg-opacity: .3;">
    <div class="container d-flex border-bottom border-black">
        <h1>Projekty ({{ projects|length }})</h1>
    </div>
    <div class="list-group list-group-flush overflow-auto mx-3 mt-4">
            {% for project in projects %}
            <a type="button" class="list-group-item list-group-item-action py-1 ripple" style="background-color: transparent;" href="{% url 'view_project' project.id %}">
                <p class="fw-bold" style="background-color: transparent; font-size: 26px;">
                    {{ project.project_name }}
                </p>
                <p class="text-nowrap overflow-hidden text-truncate">
                    Opis Projektu: {{ project.description }}
                </p>
            </a>
            {% endfor %}
    </div>
</div>

<div style="margin-left: 300px;">
    <div class="container w-auto d-flex flex-column" >
        <div class="container d-flex row mb-5 border border-black">
            <div class="col-lg-6 col-md-12 mx-auto p-2">
                <div>
                    <output class="form-control" style="background-color: transparent; border:none" name="project-name" id="project-name"><b>ID projektu:</b> {{ project.id }}</output>
                </div>
                <div>
                    <output class="form-control" style="background-color: transparent; border:none" name="project-name" id="project-name"><b>Nazwa projektu:</b> {{ project.project_name }}</output>
                </div>
                <div>
                    <output class="form-control" style="background-color: transparent; border:none" name="project-client" id="project-client"><b>Klient:</b> {{ project.client.user }}</output>
                </div>
                <div>
                    <output class="form-control" style="background-color: transparent; border:none" name="project-description" id="project-description" style="height: fit-content; overflow-wrap: break-word;"><b>Opis projektu:</b> {{ project.description }}</output>
                </div>
            </div>
            <div class="container col-lg-6 col-md-12 bg-transparent overflow-hidden" style="height: fit-content;">
                <table class="table table-striped table-hover bg-transparent border-black mt-2">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="3">Pracownicy</th>
                        </tr>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Imię</th>
                            <th scope="col">Nazwisko</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in project.employee.all %}
                        <tr>
                            <td>{{ employee.user.id }}</td>
                            <td>{{ employee.user.first_name }}</td>
                            <td>{{ employee.user.last_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container d-flex row mb-5">
            <div class="col">
                <a class="btn btn-dark mb-3 justify-content-center d-flex w-100 fw-bold" href="{% url 'project_report' project.id %}">Raport</a>
            </div>
            <div class="col">
                <a class="btn btn-dark mb-3 justify-content-center d-flex w-100 fw-bold" href="https://taiga.webtechnika.pl/project/{{ project }}/kanban">Taiga</a>
            </div>
        </div>
        <div class="d-flex col justify-content-between border-bottom border-black">
            <h1 class="">Zadania   ({{ tasks|length }})</h1>
            {% if user.is_superuser or user.who_is == "EM" %}
            <button id="myInput" type="button" class="btn btn-dark mb-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
            {% endif %}
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form id="task-form" method="POST">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Dodaj zadanie</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for field in form %}
                                {% if field.errors %}
                                <div>
                                    {{ field.errors }}
                                </div>
                                {% endif %}
                                <div class="form-floating mb-3">
                                    {{ field }}
                                    {{ field.label_tag }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Zamknij</button>
                            <button type="submit" name="submit_task" class="btn fw-bold" style="background-color: #4ac900; color: white">Zapisz</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <section>
                <div id="task-grid" class="row d-flex justify-content-center gap-3">
                    {% for task in tasks %}
                    <a type="button" class="shadow text-decoration-none" href="{% url 'view_task' project.id task.id %}" style="background-color: #707070; color: white">
                        <p class="text-wrap overflow-hidden text-truncate fs-4 fw-bold">
                            #{{ forloop.counter }} | {{ task.task_name }}
                        </p>
                        <p class="ms-5 {% if task.status == 'Done' %} green {% elif task.status == 'Ready' %} red {% elif task.status == 'Code review' %} yellow {% elif task.status == 'In progress' %} orange {% elif task.status == 'Ready for test' %} darkyellow {% endif %}" id="task_status" name="task_tatus">
                            Status: {{ task.status }}
                        </p>
                    </a>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}