{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<html>

<head>
</head>

<body class="container d-flex justify-content-center align-items-center">
    <br>
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="container d-inline-flex flex-column justify-content-center align-items-center h-auto w-auto p-5 bg-white rounded shadow-lg"
            style="--bs-bg-opacity: .3">
            <h1 class="fs-1 mb-4">{% trans "Sign In" %}</h1>
            {{ form.non_field_errors }}
            <div class="form-floating mb-3">
                {{ form.login }}
                {{ form.login.label_tag }}
            </div>
            <div class="form-floating mb-3">
                {{ form.password }}
                {{ form.password.label_tag }}
            </div>
            <div class="mb-3 fs-5">
                {{ form.remember.label_tag }}
                {{ form.remember }}
            </div>
            <button class="btn btn-primary mb-3" type="submit">{% trans "Sign In" %}</button>
            <a class="button secondaryAction text-black" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <p>
                <a class="text-black" href="{{ signup_url }}">Stwórz konto</a>
            </p>
        </div>
    </form>
</body>

</html>
{% endblock %}
