{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<html>

<head>

</head>

<body class="container d-flex justify-content-center align-items-center">
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="container d-inline-flex flex-column justify-content-center align-items-center h-auto w-auto p-5 bg-white rounded shadow-lg"
            style="--bs-bg-opacity: .3;">
            <h1 class="fs-1 mb-4">{% trans 'Are you sure you want to sign out?' %}</h1>
            <button class="btn w-25 mb-3 btn-primary" type="submit">{% trans 'Sign Out' %}</button>
            <p>Jeżeli chcesz powrócić do strony gównej kliknij</p>
            <a class="btn w-25 mb-3 btn-primary" href="{% url 'view_profile' %}">Powrót</a>
        </div>
    </form>
</body>

</html>

{% endblock %}