{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<html>

<head>
</head>

<body class="container d-flex justify-content-center align-items-center">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="container shadow-lg h-auto w-auto d-inline-flex flex-column justify-content-center align-items-center rounded bg-secondary p-5"
            style="--bs-bg-opacity: .3">
            <h1 class="fs-1 mb-4">{% trans "Password Reset" %}</h1>
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing
                you to reset it." %}</p>
            {% for field in form %}
            {% if field.errors %}
            <div>
                {{ field.errors }}
            </div>
            {% endif %}
            <div class="form-floating mb-3">
                {{ field }}
                {{ field.label_tag }}
            </div>
            {% endfor %}
            <button class="btn btn-primary mb-3" type="submit">{% trans 'Reset My Password' %}</button>
            <br>
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </form>
</body>

</html>
{% endblock %}
