{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="h-100 d-flex justify-content-center align-items-center">
    <form method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        <div class="container h-auto w-auto p-5 d-inline-flex flex-column justify-content-center align-items-center rounded shadow-lg bg-white"
            style="--bs-bg-opacity: .3">
            <h1 class="fs-1 mb-4">{% trans "Change Password" %}</h1>
            {% for field in form %}
            {% if field.errors %}
            <div>
                {{ field.errors }}
            </div>
            {% endif %}
            <div class="form-floating mb-3">
                {{ field }}
                {{ field.label_tag }}
            </div>
            {% endfor %}
            <button class="btn mb-3 btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
            <a class="text-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
    </form>
</div>
{% endblock %}
