{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Profil{% endblock %}

{% block content %}
<div class="h-100 d-flex justify-content-center align-items-center">
    <form method="post" action="{% url 'view_profile' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="container h-auto w-auto p-5 d-inline-flex flex-column justify-content-center align-items-center rounded shadow-lg bg-white"
            style="--bs-bg-opacity: .3;">
            <h1 class="fs-1 mb-4">Podgląd profilu</h1>
            {% for field in form %}
            <div class="form-floating mb-3">
                {{ field }}
                {{ field.label_tag }}
            </div>
            {% endfor %}
            <div class="buttons">
                <button class="btn mb-3 btn-primary " type="submit">Zapisz informacje</button>
                <a class="btn mb-3 btn-primary " href="{% url 'account_change_password' %}">Zmień hasło</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}