{% extends "account/base.html" %}

{% block head_title %}Home{% endblock %}

{% load static %}

{% block content %}
{% csrf_token %}
{% if user.is_authenticated %}
<div class="container h-auto w-auto p-5 d-inline-flex flex-column justify-content-center align-items-center rounded shadow-lg bg-white" style="--bs-bg-opacity: .3">
    <div class="container h-auto w-auto p-5 d-inline-flex flex-column justify-content-center align-items-center rounded " style="--bs-bg-opacity: .3">
        <div class="text-center justify-content-center">
            <form id="taiga-form" method="POST">
                {% csrf_token %}
                <div class="fs-1 mb-4">Zaloguj do Taigi</div>
                <div>
                    {{ form.as_p }}
                </div>
                <div class="">
                    <button type="submit" name="submit_task" class="btn fw-bold btn-dark">Zaloguj</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}

{% include '_partials/not_logged.html' %}

{% endif %}
{% endblock %}