{% extends "account/base.html" %}

{% block head_title %}Home{% endblock %}

{% block content %}
{% csrf_token %}
<div>
{% if user.is_authenticated %}
<div class="container h-auto w-auto p-5 d-inline-flex flex-column justify-content-center align-items-center rounded shadow-lg bg-white" style="--bs-bg-opacity: .3">
    <div class="container h-auto w-auto p-5 d-inline-flex flex-column justify-content-center align-items-center rounded " style="--bs-bg-opacity: .3">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="taiga-form" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Zaloguj</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for field in form %}
                        {% if field.errors %}
                        <div>
                            {{ field.errors }}
                        </div>
                        {% endif %}
                        <div class="form-floating mb-3">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark fw-bold" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" name="submit_task" class="btn fw-bold btn-dark">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% else %}
    <div class="w-auto p-5 d-flex row justify-content-center rounded shadow-lg bg-white" style="--bs-bg-opacity: .3">
        <div class="container h-auto w-auto p-5 d-inline-flex flex-column justify-content-center align-items-center rounded " style="--bs-bg-opacity: .3">
            <p class="fst-italic fs-3">Jesteś obecnie wylogowany</p>
            <br>
            <p class="fs-5"> Aby się zalogować naciśnij przycisk poniżej</p>
            <a type="button" class="btn w-100 mb-3 btn-dark " href="{% url 'account_login' %}">Zaloguj się</a>
            <br>
            <p class="fs-5">Aby stworzyć konto naciśnij przycisk poniżej</p>
            <a type="button" class="btn w-100 btn-dark " href="{% url 'account_signup' %}">Zarejestruj się</a>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}