{% extends "account/base.html" %}

{% block head_title %}Task: {{ task.task_name }}{% endblock %}
{% load static %}

{% block extra_head %}
<script type="text/javascript">var value = "{{ current }}"; var session_id = "{{ session_id }}"; var task_id = "{{ task_id }}"; var csrfToken = "{{ csrf_token }}"; var who_is = "{{ who_is }}"; var is_superuser = "{{ is_superuser }}"</script>
<script src="{% static 'timer.js' %}"></script>
<script src="{% static 'client.js' %}"></script>
<script src="{% static 'view-task.js'%}"></script>
{% endblock %}

{% block content %}
<div class="sidebar" style="left:240px; width: 300px; padding-top: 4%; background-color: rgb(133, 133, 133);" style="--bs-bg-opacity: .3;">
    <div class="container d-flex border-bottom border-black">
        <a href="{% url 'view_project' project_id %}" class="text-decoration-none" style="color: black" ><h2>{{ project }}   ({{ tasks|length }})</h2></a>
    </div>
    <div class="list-group list-group-flush overflow-auto mx-3 mt-4">
            {% for task in tasks %}
            <a type="button" class="list-group-item list-group-item-action py-1 ripple" style="background-color: transparent;" href="{% url 'view_task' project.id task.id %}">
                <p class="fw-bold" style="background-color: transparent; font-size: 26px;">
                    {{ task.task_name }}
                </p>
                <p class="{% if task.status == 'Done' %} green {% elif task.status == 'Ready' %} red {% elif task.status == 'Code review' %} yellow {% elif task.status == 'In progress' %} orange {% elif task.status == 'Ready for test' %} darkyellow {% endif %}" id="task_status" name="task_tatus">
                    Status: {{ task.status }}
                </p>
            </a>
            {% endfor %}
    </div>
</div>
<div style="margin-left: 300px;">
    <div class="container w-100 d-flex flex-column border border-black" >
<!--        Modal delete task-->
        <div class="modal fade" id="deleteTaskModal" tabindex="-1" aria-labelledby="deleteTaskModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">\
                <form action="{% url 'delete_task' task.id %}" method="POST" class="modal-content">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteTaskModalLabel">Usuń zadanie</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Czy napewno chcesz usunąć to zadanie? 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                        <button type="submit" name="submit_task_delete" class="btn btn-danger">Usuń</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container d-flex row mb-5">
            <div class="col-lg-6 col-md-12 mx-auto p-2">
                <div>
                    <output class="form-control" style="background-color: transparent; border:none" name="project-name" id="project-name"><b>ID zadania:</b> {{ task.id }}</output>
                </div>
                <div>
                    <output class="form-control" style="background-color: transparent; border:none" name="project-name" id="project-name"><b>Nazwa zadania:</b> {{ task.task_name }}</output>
                </div>
                <div>
                    <output class="form-control" style="background-color: transparent; border:none" name="project-description" id="project-description" style="height: fit-content; overflow-wrap: break-word;"><b>Opis:</b> {{ task.description }}</output>
                </div>
                <div>
                    <output class="form-control" style="background-color: transparent; border:none" name="project-client" id="project-client"><b>Status:</b> {{ task.status }}</output>
                </div>
            </div>
            <div id="employee-table" class="container col-lg-6 col-md-12 bg-transparent overflow-hidden" style="height: fit-content;">
                <table class="table table-striped table-hover bg-transparent border-black mt-2">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="3">Pracownicy</th>
                        </tr>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Imię</th>
                            <th scope="col">Nazwisko</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in task.employee.all %}
                        <tr>
                            <td>{{ employee.user.id }}</td>
                            <td>{{ employee.user.first_name }}</td>
                            <td>{{ employee.user.last_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if user.is_superuser or user.who_is == "EM" %}
                <button type="button" class="btn btn-dark mb-3 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal" style="height: fit-content;">
                    Dodaj pracowników
                </button>
                {% endif %}
            </div>
<!--            Modal add employee-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <form id="employee-form" method="POST" class="modal-content">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Dodaj pracowników</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for field in form2 %}
                            {{ field }}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                            <button type="submit" name="submit_employee" class="btn btn-primary">Zapisz</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form method="POST" class="container row justify-content-center mt-5">
            {% csrf_token %}
            <div class="col-lg-6 col-md-12 justify-content-center">
                <div class="d-flex justify-content-center">
                    {% if user.who_is == "EM" %}
                    <h1>Rozpocznij sesję</h1>
                    {% else %}
                    <h1>Status zadania</h1>
                    {% endif %}
                </div>
                <div class="d-flex mb-3 justify-content-center">
                    {% if user.who_is == "EM" %}
                    <p class="text-center w-50 me-0 mb-0 fs-2" id="timer-display">00:00:00</p>                    
                    {% else %}
                    <div class="text-center fs-4" id="display"></div>
                    {% endif %}
                </div>
                {% if user.who_is == "EM" %}
                <div class="d-flex mb-3 justify-content-center">
                    <button class="w-50 btn btn-dark" type="button" id="timer_button"></button>    
                </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}