{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="h-100 d-flex justify-content-center align-items-center">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="container h-auto w-auto p-5 d-inline-flex flex-column justify-content-center align-items-center rounded shadow-lg bg-white"
            style="--bs-bg-opacity: .3">
            <h1 class="fs-1 mb-4">{% trans "Sign Up" %}</h1>
            {% for field in form %}
            {% if field.errors %}
            <div>
                {{ field.errors }}
            </div>
            {% endif %}
            <div class="form-floating mb-3">
                {{ field }}
                {{ field.label_tag }}
            </div>
            {% endfor %}
            <button class="btn mb-3 btn-dark" type="submit">{% trans "Sign Up" %}</button>
            <p>Posiadasz już konto?
                <a class="text-black" href="{{ login_url }}">{% trans "Sign In" %}</a>
            </p>
        </div>
    </form>
</div>
{% endblock %}
